<!-- Dashbord directive Html -->
<div class="row d-flex">
    <div class="col-12">
        <h1 class="text-center p-4">Doe Vida</h1>
        <hr class="bg-white"></hr>
    </div>
    <div class="col-12 offset-xl-0 offset-md-4 offset-sm-3 offset-xs-6 d-flex">
    
        <nav class="nav d-flex  flex-column">
                <li class="nav-item justify-content-center">
                  <a class="nav-link active" href="#!profile">
                    <figure class="d-inline-flex ">
                      <img class="icon" src ="../../assets/img/Config user White@2x.png" alt="Perfil Usuário" title="Peril de Usuário"/>
                      <span class="pl-3">Perfil de Usuário</span>
                    </figure>
                  </a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="#!banks">
                    <figure class="d-inline-flex">
                      <img   class="icon" src ="../../assets/img/Banco todo branco@2x.png" alt="Bancos de Sangue" title="Bancos de Sangue"/>
                      <span class=" pl-3">Bancos de Sangue</span>
                    </figure>
                  </a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" href="#!info">   
                    <figure class="d-inline-flex ">
                      <img   class="icon" src ="../../assets/img/icon_info2@2x.png" alt="Informações" title="Informações"/>
                      <span class=" pl-3">Informações</span>
                    </figure>
                  </a>
                </li>   

                <li class="nav-item">
                    <a class="nav-link" href="../../login.html" ng-click="logout()">   
                      <figure class="d-inline-flex ">
                        <img   class="icon" src ="../../assets/img/icone_logout.png" alt="Logout" title="Logout"/>
                        <span class=" pl-3">Logout</span>
                      </figure>
                    </a>
                  </li>   
        </nav>
      </div>
   
</div>