<!-- Template Info Html -->
<div class="info">
<div class="row p-3">
        <div class="col-12">
                <h3 class="text-center pt-3">Informações</h3>
                <hr class="w-50"></hr>
        </div>
</div>
<div class="row p-3">
        <div class="col-12 text-center">
                <h3 class=" pt-3">Obrigado pelo seu apoio!</h3>
                <p>Segue abaixo informações importantes que podem ajudar na hora da boa ação !</p>
        </div>
</div>
<hr>
<div class="row p-3">
        <div class="col-12">
                <h5 class="text-center p-2">Requisitos básicos</h5>
                <hr class="w-50">
                <p>Estar em boas condições de saúde.</p>
                <p>Ter entre 16 e 69 anos, desde que a primeira doação tenha sido feita até 60 anos</p>
                <p>Pesar no mínimo 50kg.</p>
                <p>Estar descansado (ter dormido pelo menos 6 horas nas últimas 24 horas).</p>
                <p> Estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação).</p>
                <p>Apresentar documento original com foto recente, que permita a identificação do candidato, emitido por órgão oficial (Carteira de Identidade, Cartão de Identidade de Profissional Liberal, Carteira de Trabalho e Previdência Social).</p>
                <p class="font-italic"><strong>* Para pessoas menores de 18 anos, é necessário um formulário de autorização dos responsáveis.</strong></p>
        </div>
        <div class="col-12">
            <h5 class="text-center p-3">Você <strong>Não</strong> pode doar se</h5>
            <hr class="w-50 p-2">
            <p> Estiver com hipertensão ou hipotensão arterial no momento da doação</p>
            <p>Estiver com febre no dia da doação</p>
            <p>Estiver grávida</p>
            <p>Estiver amamentando, a menos que o parto tenha ocorrido há mais de 12 meses</p>
            <p> Ingestão de bebida alcoólica nas 12 horas que antecedem a doação</p>
            <p>Tatuagem / maquiagem definitiva nos últimos 12 meses</p>
            <p>Qualquer procedimento endoscópico (endoscopia digestiva alta, colonoscopia, rinoscopia etc): aguardar 6 meses</p>
            <p>Cirurgia odontológica com anestesia geral: por 4 semanas.</p>
        </div>
</div>
<hr>
<blockquote class="blockquote p-3">
    <p class="mb-0 font-italic" style="font-size: 0.8em;">"Você nunca sabe que resultados virão da sua ação. Mas se você  <strong>não </strong>fizer nada, não existirão <strong>resultados</strong>"</p>
    <footer class="blockquote-footer">Mahatma Ghandi</footer>
</blockquote>
</div>
    