body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.content{
    background: #921F1C;
    min-height:94%;
}

.footer{
    height:4%;
 }

a{
    color:white;
}
.icon{
    height:35px;
    width: 40px;
}

/* Maps */
#map_canvas { 
    height: 70%;
    min-height:400px;
    color:black;
    margin: 0px;
}

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}