.info{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

option{
  color: black;
}

.profile input:focus{
  color:white;
}

.profile input ::-webkit-input-placeholder{
  color: #bbb; 
}

.profile ::-webkit-input-placeholder {
  color:#bbb; 
}

.profile:-moz-placeholder { /* Firefox 18- */
  color: #bbb;  
}

.profile::-moz-placeholder {  /* Firefox 19+ */
  color: #bbb; 
}

.profile:-ms-input-placeholder {  
  color: #bbb; 
}

.profile input{
  color:white;
}

.bg-info-req{
  background-image:url("../img/bg-info-req.png");
  background-size: 100%;
  background-repeat: no-repeat;
  
}

.box-default{
  background: #921F1C;
  border-radius:0.5em;
  border:0.2em solid white;
  box-shadow: 0px 0px 0px 4px #921F1C;
}

html,body,.container-fluid{
    overflow-x:hidden;
  height: 100%;
  width: 100%;
 }

/* Botão login */
.btn-login{
  margin:30px 10px 0px 0px ;
  transition:0.3s;
  border-radius:0.5em;
  width:5.8em;
  height:2.5em;
  background:white;
  padding:0.3em;
  /*            borda interna*/
  border:0.2em solid #921F1C;
  /*            borda externa*/
  box-shadow: 0px 0px 0px 4px white;
}
 
.btn-login:hover{
  background:rgba(0,0,0,0.0);
  color:white; 
}

.btn-login:disabled{
  pointer-events: none;
}

.bg-default{
background: #f1f0ee;
}

.text-default{
  color:#921F1C;
}

/* input */
.form-control{
  text-align: center;
  background-image:  linear-gradient(0deg,#FFFFFF 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0)
}

input {
  border-color:white;
  box-shadow:0px 0px 0px white;
  color:white;
}




/* Animate footer s2 */

.S2B-text{
  transition:0.9s;
  color:red;
  text-shadow:0px 0px 10px red;
  animation-name: s2animate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes s2animate {
    0%   {color:red; text-shadow:0px 0px 10px red; }
    25%  {color:#F1F0EE; text-shadow:0px 0px 0px white}
    50%   {color:red;  text-shadow:0px 0px 10px red;}
    75%  {color:#F1F0EE;  text-shadow:0px 0px 0px white}
    100%   {color:red; text-shadow:0px 0px 10px red; }   
}
